<div class="container">
  <div>
    <h3> list all users </h3>
    <% @users.each do |user|%>
      <a href="/users/<%= user.id %>">
      <div class="card my-3">
        <div class="card-body row">
          <div class="col-2">
            <%= image_tag image_url(user.photo), :class => "img-thumbnail sm"  %>
          </div>
          <div class="col-10">
            <div class="d-flex justify-content-between">
              <h1> <%= user.name %> </h1>
              <small class="align-self-end"> Number of posts: <% user.post_counter %> </small>
            </div>
          </div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>